<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.test.dao.usersMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.test.model.users" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="role" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="addtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="adduser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="edittime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="edituser" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, role, username, password, addtime, adduser, edittime, edituser
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssm.test.model.users" >
    insert into users (id, name, role, 
      username, password, addtime, 
      adduser, edittime, edituser
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{role,jdbcType=BIGINT}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, 
      #{adduser,jdbcType=VARCHAR}, #{edittime,jdbcType=TIMESTAMP}, #{edituser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.test.model.users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="adduser != null" >
        adduser,
      </if>
      <if test="edittime != null" >
        edittime,
      </if>
      <if test="edituser != null" >
        edituser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adduser != null" >
        #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="edituser != null" >
        #{edituser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.test.model.users" >
    update users
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adduser != null" >
        adduser = #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="edittime != null" >
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="edituser != null" >
        edituser = #{edituser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.test.model.users" >
    update users
    set name = #{name,jdbcType=VARCHAR},
      role = #{role,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      adduser = #{adduser,jdbcType=VARCHAR},
      edittime = #{edittime,jdbcType=TIMESTAMP},
      edituser = #{edituser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>